html { background-color: rgb(37, 37, 37); } 

input {
    padding: 5px;
    margin: 10px;
}

.grand-total::before {
    content: '$'
}

.gross-total::before {
    content: '$'
}

.partPrice::before {
    content: '$'
}

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
 }